body{
    background-color: silver;
    color: white;
    padding :20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: #ffff;
    background-color:  hsla(o , 100% ,100%, 0.5 );
    color: indianred;
    padding:inherit;
    text-shadow: (2px,2px,2px, rgb(53, 52, 52));
    text-align: center;
    font-size: 60;
    border-radius: 40px;
    border-style: groove;
    border-color: slategray whitesmoke;
    border-width: 20px;
}
p{
    padding:5px;
    margin:0;
}

p.zero{
    background-color:rgb(239, 55, 122) ;
}
p.one{
    background-color:rgb(239, 69, 131) ;
}
p.two{
    background-color:rgb(238, 78, 137) ;
}
p.three{
    background-color:rgb(238, 91, 144) ;
}
p.four{
    background-color:rgb(240, 106, 155) ;
}
p.five{
    background-color:rgb(233, 122, 163) ;
}
p.six{
    background-color:rgb(237, 131, 170) ;
}
p.seven{
    background-color:rgb(14, 172, 46) ;
}
p.eight{
    background-color:rgb(126, 204, 240) ;
}
p.nine{
    background-color:rgb(112, 195, 240) ;
}
p.ten{
    background-color:rgb(98, 190, 240) ;
}
p.eleven{
    background-color:rgb(76, 183, 241) ;
}
p.twelve{
    background-color:rgb(66, 179, 240) ;
}
p.thirteen{
    background-color:rgb(53, 175, 240) ;
}
p.fourteen{
    background-color:rgb(31, 168, 241);
}